/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    background-color: #b91450;
}

h2{
    color: white;
    text-align: center;
    padding: 1rem;
}

label {
    display: block;
    color: #b91450;
    padding-bottom: 1rem;
    text-align: center;
}

.user-form,
#ticket {
    width: 70%;
    margin: 0 auto;
    background-color: white; 
}

.bold {
    font-weight: 900;
}

.p-top {
    padding-top: 2rem;
}

/* User Form */
.user-form {
    padding: 2rem 3rem;
}

.form-item {
    display: flex;
    justify-content: space-around;
}

.form-controls {
    text-align: center;
    padding-top: 2rem;
}

/* Buttons */
.buttons button {
    margin: 0 0.5rem;
    color: #b91450;
    font-weight: bold;
}

/* Ticket */
#ticket {
    /* display: none; */ 
    padding: 1rem;
}

#ticket.active {
    display: block;
}

.ticket-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#ticket-name {
    font-size: 1.3rem;
    font-weight: 900;
    background-color: #808080;
}

